# Node modules
node_modules/

# Build output
build/
dist/

# Git
.git/
.gitignore

# Environment variables
.env*

# Logs
npm-debug.log

# IDE configurations
.vscode/
.editorconfig

# Coverage reports
coverage/

# Media management
src/backend/management/

# Tests
src/backend/tests/

# Logs
*.log
