# Dependency directories
node_modules/
*.log

# Environment files (secrets)
.env
env.production

# Git and Docker ignore files
.git
.gitignore
.dockerignore

# Mac OS system files
.DS_Store

# Local development folders and build artifacts
logs/
src/management/

# Frontend build output folders (if used locally during development)
dist/
build/

# Editor/IDE folders
.vscode/
