node_modules/
npm-debug.log
dist/
.env
.env.me
.env.previous
.env.vault
docker-compose.yml
Dockerfile*
.dockerignore
combined.log
error.log
.DS_Store

.env
.env.development
.env.me
.env.previous
.env.vault
.flaskenv*
!.env.project
.env*
.env.vault
!.env.vault

Material/
logs/
scripts/prod-deploy.sh
