node_modules/
npm-debug.log
dist/
docker-compose.yml
Dockerfile*
.dockerignore
combined.log
error.log
.DS_Store

.flaskenv*
.env*

Material/
logs/



# Dependency directories
node_modules/

# Logs
*.log
npm-debug.log
combined.log
error.log

# Build output
dist/

# OS files
.DS_Store

# Environment files / secrets
.env*
.flaskenv*

# Docker ignore - but consider removing if you want these in VCS
# docker-compose.yml
# Dockerfile*

# Other local folders and files
Material/
logs/

# Ignore local Docker ignore file to avoid adding locally ignored files in the image
.dockerignore

# Scripts & backend files - normally tracked, so comment out ignore unless needed
scripts/prod-deploy.sh
scripts/management/
src/backend/management/old
