# Dependency directories
node_modules/
*.log

# Build output
dist/

# OS files
.DS_Store

# Environment files / secrets
.env
env.production

# Other local folders and files
Material/
logs/

# Ignore local Docker ignore file to avoid adding locally ignored files in the image
.dockerignore

# Scripts & backend files - normally tracked, so comment out ignore unless needed
scripts/prod-deploy.sh
scripts/management/
