/* src/frontend/styles/About.modules.css */

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  text-align: center;
  padding: var(--spacing-large); /* Use CSS variables for responsive padding */
  box-sizing: border-box; /* Ensure padding doesn't affect the overall width/height */
}

h1,
h2 {
  margin: 0; /* Remove default margin */
}

h2 {
  margin-bottom: var(--spacing-medium); /* Add space below the h2 heading */
}

h1 {
  margin-top: var(--spacing-large); /* Add space above each h1 */
}

a {
  color: var(--primary-color); /* Link color */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .aboutContainer {
    padding: var(--spacing-medium); /* Adjust padding for smaller screens */
  }

  h1 {
    font-size: var(
      --font-size-medium
    ); /* Smaller font size on smaller screens */
  }

  h2 {
    font-size: var(
      --font-size-small
    ); /* Smaller font size on smaller screens */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: var(--font-size-small); /* Consistent font size variable */
  }

  h2 {
    font-size: calc(var(--font-size-small) - 0.25rem); /* Slightly smaller */
  }
}
