/* src/frontend/styles/ControlButton.module.css */

.popupButton {
  position: absolute;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9); /* Match color with other buttons */
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1100;
  transition: color 0.3s ease; /* Smooth color transition */
}

.popupButton:hover {
  color: rgba(255, 255, 255, 1); /* Full color on hover */
}

.closeButton {
  top: 20px;
  right: 20px; /* Positioning for close button */
}

.metadataButton {
  top: 20px;
  left: 20px; /* Positioning for metadata button */
}

.toggleButton {
  top: calc(
    20px + 40px
  ); /* Adjust as needed to position below the close button */
  right: calc(20px + 50px); /* Position next to close button */
}
