/* src/frontend/styles/ControlButton.module.css */

.popupButton {
  position: absolute;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
  z-index: 1100;
  transition: color var(--transition-duration) ease,
    opacity var(--transition-duration) ease;
  opacity: 0.9;
  padding: var(--spacing-small);
}

.popupButton:hover,
.popupButton:focus {
  opacity: 1;
  outline: none;
}

.popupButton:focus-visible {
  box-shadow: 0 0 0 2px var(--primary-color);
}

.closeButton {
  top: var(--spacing-medium);
  right: var(--spacing-medium);
}

.fullScreenButton {
  top: var(--spacing-medium);
  right: calc(
    var(--spacing-medium) * 5
  ); /* Adjust this to space out properly */
}

.metadataButton {
  top: var(--spacing-medium);
  left: var(--spacing-medium);
}

.toggleButton {
  top: var(--spacing-medium);
  right: calc(var(--spacing-medium) * 8); /* Adjust this if necessary */
}

.greyscaleIcon {
  filter: grayscale(100%);
  transition: filter var(--transition-duration) ease;
}

.greyscaleIcon:hover,
.greyscaleIcon:focus {
  filter: none;
}

@media (max-width: 768px) {
  .popupButton {
    font-size: var(--font-size-small);
  }

  .closeButton,
  .metadataButton,
  .toggleButton,
  .fullScreenButton {
    top: var(--spacing-small);
  }

  .closeButton {
    right: var(--spacing-small);
  }

  .fullScreenButton {
    right: calc(var(--spacing-small) * 4);
  }

  .metadataButton {
    left: var(--spacing-small);
  }

  .toggleButton {
    right: calc(var(--spacing-small) * 6); /* Adjust this if necessary */
  }
}
