/* src/frontend/styles/ControlButton.module.css */

.popupButton {
  position: relative;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
  z-index: 1100;
  transition: color var(--transition-duration) ease,
    opacity var(--transition-duration) ease,
    background-color var(--transition-duration) ease; /* Added background-color transition */
  opacity: 0.9;
  padding: var(--spacing-small);
}

.popupButton:hover,
.popupButton:focus {
  opacity: 1;
  outline: none;
  background-color: var(--fab-color);
}

.popupButton:focus-visible {
  box-shadow: 0 0 0 2px var(--primary-color);
}

.buttonContainer {
  position: absolute;
  top: var(--spacing-medium);
  right: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-small) / 2);
}

.greyscaleIcon {
  filter: grayscale(100%);
  transition: filter var(--transition-duration) ease;
}

.greyscaleIcon:hover,
.greyscaleIcon:focus {
  filter: none;
}

@media (max-width: 768px) {
  .popupButton {
    font-size: var(--font-size-small);
  }

  .buttonContainer {
    top: var(--spacing-small);
    right: var(--spacing-small);
    gap: calc(var(--spacing-small) / 2);
  }
}
