/* src/frontend/styles/Global.css */

:root {
  --background-color: black;
  --text-color: white;
  --gutter-size: 20px;
  --transition-duration: 0.3s;
  --font-family: "Helvetica Neue";

  --primary-color: #4da6ff;
  --primary-color-dark: #3b8cc2;
  --error-border-color: #f44336;
  --error-bg-color: #ffe6e6;
  --error-text-color: #f44336;
  --spacing-large: 2rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.75rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1.25rem;

  --spinner-size: 50px;
  --spinner-border: 3px;
  --spinner-color: rgba(255, 255, 255, 0.3);
  --spinner-border-top: #fff;

  --overlay-bg-color: rgba(0, 0, 0, 0.7);
  --thumbnail-opacity: 0.5;

  --message-font-size: 1.2rem;
  --message-color: #333;

  --zoom-control-bg: white;
  --zoom-control-border-radius: 4px;
  --zoom-control-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

  --popup-bg-color: rgba(0, 0, 0, 0.7);
  --popup-text-color: white;
  --popup-padding: 10px;
  --popup-border-radius: 5px;
  --close-button-color: #ffffff; /* Change to white or your desired color */
  --close-button-font-size: 16px; /* Adjust font size as needed */
  --link-color: #00f;

  --panorama-bg-color: black;
  --thumbnail-opacity: 0.5;

  --fab-color: rgba(153, 153, 153, 0.7);
  --fab-hover-color: rgba(124, 124, 124, 0.7);

  /* New variables */
  --adjustment-height: 15px;
  --max-width-popup: 280px;
  --linkColor: #ffffff; /* Bright blue color for better legibility */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--code-font-family);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
