/* src/styles/Global.css */

:root {
  --background-color: black;
  --text-color: white;
  --gutter-size: 20px;
  --transition-duration: 0.3s;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --code-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  --primary-color: #4da6ff;
  --spacing-large: 2rem;
  --spacing-medium: 1rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1.25rem;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--code-font-family);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
