/* src/frontend/styles/HamburgerMenu.module.css */

.hamburgerMenu {
  position: absolute; /* Position absolute for fixed positioning */
  top: 20px; /* Distance from the top */
  left: 20px; /* Distance from the left */
  z-index: 1001; /* Ensure this is higher than the map’s z-index */
}

.menuIcon {
  background: none; /* No background */
  border: none; /* No border */
  color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Slightly less transparent white for better visibility */
  font-size: 28px; /* Increase size of the icon */
  cursor: pointer; /* Pointer cursor on hover */
}

.menuDropdown {
  position: absolute; /* Position dropdown absolutely */
  top: 40px; /* Adjust based on your layout */
  left: 0; /* Align to the left */
  background-color: transparent; /* No background for dropdown */
  padding: 0; /* Remove padding around dropdown items */
  border-radius: 0; /* No rounded corners */
  z-index: 1001; /* Ensure this is higher than the map’s z-index */
}

.menuDropdown.open {
  display: block; /* Show dropdown when open */
}

.menuDropdown button {
  display: block; /* Block display for links */
  color: rgba(255, 255, 255, 0.9); /* Use a more visible white color for text */
  font-size: 18px; /* Increase font size for dropdown items */
  text-decoration: none; /* Remove underline */
  padding: 5px; /* Slight padding for better click area */
  margin: 0; /* Remove margin for a minimalist look */
  border: none; /* Remove border around button */
  background-color: transparent; /* Make button background transparent to see dropdown bg */
}

.menuDropdown button:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Lightens on hover for visibility */
}
