/* src/frontend/styles/Home.module.css */

.homePage {
  display: flex;
  justify-content: center;
  align-items: center; /* Center children vertically */
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-large);
  padding: var(--spacing-medium);
  box-sizing: border-box;
}

.textWrapper {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center; /* Center text */
}

.imageWrapper {
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
}

.image {
  width: auto;
  height: auto;
  max-width: 105vw; /* Keep the larger size */
  max-height: 105vh; /* Keep the larger size */
  object-fit: contain; /* Maintain aspect ratio */
  border-radius: 8px; /* Adjust this value for more or less rounding */
}

.homePage h1 {
  margin: 0;
  color: var(--text-color);
  font-size: var(--font-size-large);
  font-family: var(--font-family);
  line-height: 1.2;
}

.homePage h2 {
  margin-top: var(--spacing-small); /* Add some space above h2 if needed */
  color: var(--text-color); /* Match text color */
  font-size: var(--font-size-medium); /* Adjust font size as needed */
}

.break {
  display: block; /* This will force a line break in h1 if used */
}

@media (orientation: landscape) and (min-width: 48em) {
  .homePage {
    flex-direction: row;
  }

  .textWrapper {
    margin-right: var(--spacing-large);
  }

  .image {
    max-width: 30vw;
    max-height: 80vh;
  }

  .break {
    display: inline;
  }
}

@media (max-width: 48em) {
  .homePage h1 {
    font-size: var(--font-size-medium);
  }
}

@media (max-width: 30em) {
  .homePage h1 {
    font-size: var(--font-size-small);
  }
}
