/* src/frontend/styles/Home.module.css */

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.contentWrapper {
  display: flex;
  flex-direction: column; /* Default to column for portrait view */
  width: 100%; /* Full width */
}

.image {
  width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
}

.textWrapper {
  display: flex;
  flex-direction: column; /* Stack text vertically */
  justify-content: center;
  align-items: center;
}

/* Media Query for Landscape Viewports */
@media (orientation: landscape) {
  .contentWrapper {
    flex-direction: row; /* Change to row for landscape view */
  }

  .image {
    width: 50%; /* Half width for image */
    height: auto; /* Maintain aspect ratio */
  }

  .textWrapper {
    width: 50%; /* Half width for text */
    text-align: center; /* Center text */
  }
}

/* Additional styling for headers if needed */
h1,
h2 {
  margin: 0; /* Remove default margin */
  color: var(--text-color); /* Ensure text is visible */
}

h2 {
  margin-top: var(--spacing-small); /* Add space above the h2 */
}
