/* src/frontend/components/LoadingErrorHandler.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.message {
  font-size: var(--message-font-size); /* Use variable for font size */
  color: var(--message-color); /* Use variable for color */
}

.error {
  color: var(--error-text-color); /* Use variable for error color */
}
