/* src/frontend/styles/Map.module.css */

.leafletContainer {
  z-index: 800; /* Ensure this is lower than the hamburger menu’s z-index */
}

.leafletMarkerIcon {
  background: none;
  border: none;
}
