/* src/styles/Map.module.css */

.leafletContainer {
  z-index: 800; /* Ensure this is lower than the hamburger menu’s z-index */
}

.leafletMarkerIcon {
  background: none;
  border: none;
}

/* Positioning the zoom control in the upper right corner */
.leaflet-control-container {
  z-index: 1000; /* Ensure controls are above other elements */
}

.custom-map .leaflet-control-zoom {
  position: absolute !important; /* Use absolute positioning */
  top: var(
    --spacing-small
  ) !important; /* Adjust as needed for spacing from the top */
  right: var(
    --spacing-small
  ) !important; /* Position it in the upper right corner */
  background: var(
    --zoom-control-bg
  ); /* Optional: Add a background for better visibility */
  border-radius: var(
    --zoom-control-border-radius
  ); /* Optional: Add rounded corners */
  box-shadow: var(
    --zoom-control-box-shadow
  ); /* Optional: Add a shadow for depth */
}

.leaflet-popup-content-wrapper {
  background-color: var(--popup-bg-color); /* Dark background for popups */
  color: var(--popup-text-color); /* Light text for popups */
}

.leaflet-popup-tip {
  background-color: var(
    --popup-bg-color
  ); /* Match popup tip with popup background */
}
