/* src/frontend/styles/MascotCorner.module.css */

.mascotCornerLink {
  cursor: pointer;
  display: inline-block; /* to wrap the img tightly */
}

.mascotCorner {
  position: fixed;
  top: 1.5vw;
  right: 1.5vw;
  width: 65px;
  height: auto;
  z-index: 2500;
  user-select: none;
  /* pointer-events: auto by default because of link wrapper */
}
