/* src/frontend/styles/Metadata.module.css */

.metadataPopup {
  position: absolute;
  top: var(--spacing-medium); /* Margin from the top */
  left: var(--spacing-medium); /* Margin from the left */
  background-color: var(--popup-bg-color, #000);
  color: var(--popup-text-color, #fff);
  padding: var(--popup-padding);
  border-radius: var(--popup-border-radius);
  z-index: 1500;
  max-width: var(--max-width-popup);
  width: auto; /* Adjusted to fit content */
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: inherit;
}

.content {
  text-align: center;
}

.closeButton {
  display: block;
  margin: 0 auto;
  background: transparent;
  border: none;
  color: var(--close-button-color, grey);
  font-size: var(--close-button-font-size);
  cursor: pointer;
  transition: color var(--transition-duration);
}

.closeButton:hover,
.closeButton:focus {
  color: var(--popup-text-color, #fff);
}

.maplink {
  display: block;
  margin-top: var(--spacing-small);
  color: var(--linkColor);
  text-decoration: none;
  font-family: var(--font-family);
  font-size: inherit;
  transition: color var(--transition-duration);
}

.maplink:hover,
.maplink:focus {
  text-decoration: underline;
}

.mapIframe {
  width: 100%;
  height: auto;
  max-height: var(--max-width-popup);
  border: none;
}

@media (min-width: 320px) {
  .metadataPopup {
    top: var(--spacing-small); /* Adjusted for smaller screens */
    left: var(--spacing-small); /* Adjusted for smaller screens */
    width: calc(100% - var(--spacing-small) * 2);
    margin: 0;
  }
}
