/* src/components/Modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Darker semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 0; /* Remove padding to eliminate white space */
  width: 95%; /* Set width to a percentage of the viewport */
  max-width: 1200px; /* Limit maximum width for larger screens */
  max-height: 90%; /* Limit maximum height */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer; /* Change cursor to pointer */
}
