/* src/styles/PortfolioItem.css */

.portfolio-item {
  margin-bottom: var(--gutter-size);
  overflow: hidden; /* This will contain the zoomed image */
}

.portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform var(--transition-duration) ease;
}

.portfolio-item:hover img {
  transform: scale(1.08);
}
