/* src/frontend/styles/PortfolioGrid.module.css */

.masonryGrid {
  display: flex;
  margin-left: calc(var(--gutter-size) * -1); /* gutter size offset */
  width: auto;
  transition: all var(--transition-duration) ease; /* Use variable for transition */
}

.masonryGridColumn {
  padding-left: var(--gutter-size); /* gutter size */
  background-clip: padding-box;
  transition: all var(--transition-duration) ease; /* Use variable for transition */
}
